body {
    margin: 0;
    padding: 0;
    background: #f6f8fe;
    color: #2B3674;
    font-family: 'Inter', sans-serif;
}

/* Start of Dashboard Style */


.dashboard-heading {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0;
}

.custom-padding {
    padding: 0px 20px;
}

.custom-padding-tb {
    padding: 20px 0;
}

.dashboard-title {
    font-size: 16px;
    font-weight: 600;
    color: #2B3674;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
    padding: 15px;
}

.dashboard-title i {
    color: #fff;
    width: 30px;
    height: 30px;
    background: #3870FF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-title button {
    padding: 8px 15px;
    border-radius: 3px;
    border: none;
    background: #F1F5FF;
    color: #3870FF;
    font-weight: 500;
    font-size: 12px;
}

.legend-container,
.legend-container-crew,
.legend-container-cargo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: auto;
}

.legend-item {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #818DB4;
    padding: 5px;
    margin: 0 5px;
}

.legend-square {
    width: 5px;
    height: 15px;
    border-radius: 3px;
    margin-right: 5px;
}

.legend-value {
    color: #2B3674;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 5px;
}

.card {
    border: none;
    box-shadow: 0px 0px 48px -8px #274C7738;
    margin-bottom: 20px;
}

/* End of Dashboard Style */

/* Start of Table Style */

.search-container {
    position: relative;
    padding: 16px 0;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #818DB4;
}

.search {
    width: 450px;
    height: 38px;
    padding: 10px 14px;
    padding-left: 35px;
    border: none;
    background: #f1f5ff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

.user-container {
    color: #555B6D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-container i {
    font-size: 24px;
}

.img-avatar {
    margin-right: 8px;
    margin-left: 24px;
}


.notification-dot {
    top: 2px;
    right: 2px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
}

.sub-header p {
    font-size: 13px;
    font-weight: 400;
    color: #818DB4;
    margin-top: -5px;
    margin-bottom: 20px;
}

.sub-header p span {

    font-weight: 500;
    color: #2B3674;
}

.download-btn {
    height: 38px;
    border-radius: 5px;
    border: 1px solid #3870FF;
    font-size: 12px;
    font-weight: 600;
    color: #3870FF;
    padding: 0 15px;
    display: flex;
    place-items: center;
    background: #f8faff;
}

.download-btn i {
    font-size: 20px;
    margin-right: 3px;
}

.add-vessel {
    background: #3870FF;
    color: #fff;
    margin-left: 10px;
}


.table-btn {
    font-size: 12px;
    font-weight: 600;
    background: #3870FF;
    color: #fff;
    padding: 0px 15px;
    border: none;
}

.table-btns {
    color: #2B3674;
    background: #F1F5FF;
    border: none;
    padding: 0px 15px;
    font-size: 12px;
    font-weight: 600;
}

.table-rounded {
    border-radius: 5px;
    overflow: hidden;
}

.fitter-icon {
    padding: 8px;
    border: none;
    background: #3870FF;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    height: 38px;
    width: 38px;
    place-content: center;
}

.custom-padding-tbh {
    padding: 10px !important;
}

.table-responsive {
    background: #fff;
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
}

tr {
    border-color: #f2f2f2;
}

.table-header th {
    color: #013366 !important;
    background: #f1f5ff !important;
    font-size: 14px;
    font-weight: 500;
    align-content: center;
}



td {
    color: #084f93 !important;
    font-size: 14px !important;
    font-weight: 400;
    align-content: center;

}

.table-container {
    border-top: 1px solid #f2f2f2;
    margin-bottom: 0px;
}

.space-blank {
    border-color: white !important;
}


.table>:not(caption)>*>* {
    padding: 10px 16px !important;
}


.space-blank td {
    height: 10px !important;
    padding: 0 !important;
}

input[type="checkbox"] {
    appearance: none;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-top: 4px;
}

.checke {
    text-align: center;
}

.dots {
    margin-top: 2px;
    font-size: 17px;
}

.status button {
    border: none;
    padding: 6px 10px;
    border-radius: 3px;
    color: #3870FF;
    font-size: 11px;
    font-weight: 500;
    background: #f1f5ff;
    margin: -2px 0px;
}

.docked button {
    color: #F29323;
    background: #fef7f0;
}

.idle button {
    color: #FF3A46;
    background: #FFF1F4;
}

.active button {
    color: #2BA9A9;
    background: #E5FFFC;
}

.pagination {
    background: #fff;
    padding: 0px 10px;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
}

.pagination-text {
    color: #818DB4;
    font-size: 15px;
    font-weight: 500;
    padding: 14px 0px;
    margin: 0;
}

.next-prev i {
    color: #3870FF;
    background: #F1F5FF;
    border-radius: 5px;
    padding: 7px;
    border: none;
}

.next-prev button {
    font-size: 15px;
    font-weight: 500;
    color: #3870FF;
    background: #F1F5FF;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    border: none;
}

.active-next {
    background: #3870FF !important;
    color: #F1F5FF !important;
}

.div-shadow {
    box-shadow: 0px 0px 48px -8px #274C7738;
}
